/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
}

.footer {
    --ifm-footer-background-color: var(--ifm-navbar-background-color);
    --ifm-footer-color: var(--ifm-navbar-color);
    --ifm-footer-link-color: var(--ifm-navbar-link-color);
    --ifm-footer-title-color: var(--ifm-navbar-link-color);
}

body::-webkit-scrollbar {
    display: none;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,500,900');

.navbar {
    border-bottom: 1px solid var(--ifm-color-primary);
}

.footer {
    border-top: 1px solid var(--ifm-color-primary);
}
