.outer {
    display: flex;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 36em;
    height: 4em;
    top: calc(50% - 2em);
    left: calc(50% - 17.5em);
    color: black;
    background: white;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: $sm) {
        display: none;
    }

    @media (max-height: $sm) {
        display: none;
    }

    @media (max-width: $md) {
        width: 80%;
        left: 10%;
    }

    .inner {
        display: flex;
        flex: 1;
        padding: 0.3em;
        padding-right: 0em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        font-weight: 100;
    }

    button {
        width: 3em;
        font-size: 2em;
        border: 0;
        border-left: 1 px solid black;

        &:hover {
            background-color: aquamarine;
        }
    }
}
