@font-face {
    font-family: 'lato';
    src: url('/fonts/Lato-Black.ttf'); /* IE9 Compat Modes */
  }

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body, header, main, section {
  display: flex;
  flex: 1;
  background-color: transparent;
}

.three-root {
  position: absolute !important;
  z-index: -99 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

canvas#main {
  position: absolute !important;
  z-index: -99 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

div#logo {
    font-family: 'lato';
    font-size: 5em;
    margin-left: 1.5em;
    margin-top: .1em;
    background-color: transparent;
}

div#leva {
    position: absolute;
    left: 7.5em;
    top: 6em;
    width: 17.5em;
    z-index: 100;
}
